.dropdown {
    &__header {
        cursor: pointer;
        font-weight: 700;
        margin: 0 10px;
    }

    &__body {
        position: absolute;
        background-color: white;
        border-top: 4px solid #7744D9;
        border-radius: 4px;
        padding: 15px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
    }

    @media (max-width: 768px) {
        &__body {
            position: static;
            background-color: #160040;
            color: white;

            a {
                color: white;
            }
        }
    }
}
