.feature-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 140px;
    max-height: 200px;
    gap: 15px;
    flex: 200px;
    
    

    &__icon{
        width: 80px;
        height: 80px;
        background-size: cover;
        background-position: center;

    }

    &__description{
        color: black;
    }

    @media (max-width: 576px) {
        
        &__icon{
            width: 60px;
            height: 60px;
            background-size: cover;
            background-position: center;
    
        }

        &__description{
            font-size: 14px;
            color: black;
        }

    }

}