.menu {
    ul {
        display: flex;
        list-style: none;
        color: white;
    }

    @media (max-width: 768px) {
        ul {
            flex-direction: column;
        }

        .dropdown__body {
            background-color: #160040;
        }
        .link{
            margin: 0 10px 0 10px;
        }

    }

    
}
